h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

.btn {
  border-radius: 2px;
  padding: 5px 15px;
  display: inline-block;
  font-size: 0.875em;
}

.btn:hover {
  color: #fff;
}

.dark-grey-btn {
  background: #7C7C7C;
  color: #fff;
}

.blue-btn {
  background: #42A5F5;
  color: #fff;
}

.orange-btn {
  background: #FB8C00;
  color: #fff;
}

.medium {
  padding: 10px 20px;
  font-size: 1em;
}

.large {
  padding: 15px 30px;
  font-size: 1em;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid #ccc;
  box-shadow: none;
  font-size: 14px;
  height: inherit !important;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

[type='submit'] {
  border: none;
  font-weight: 600;
}

.job-apply [type='text'], .job-apply [type='password'], .job-apply [type='date'], .job-apply [type='datetime'], .job-apply [type='datetime-local'], .job-apply [type='month'], .job-apply [type='week'], .job-apply [type='email'], .job-apply [type='number'], .job-apply [type='search'], .job-apply [type='tel'], .job-apply [type='time'], .job-apply [type='url'], .job-apply [type='color'], .job-apply textarea {
  padding: 13px;
  border-radius: 3px;
}

select {
  background: url(../img/caret-down.svg) no-repeat !important;
  background-position: 90% center !important;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  margin-bottom: 0;
}

.green {
  background: #7ED321 !important;
}

.blue {
  background: #42A5F5 !important;
}

.orange {
  background: #FE9533 !important;
}

.menu-btn {
  display: none;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
  float: right;
}

.pushy {
  background: #42A5F5;
}

.pushy li {
  border-bottom: 1px solid #fff;
}

.pushy li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875em;
}

.header {
  background: url(../img/hero-bg.png);
  background-position: center center;
  background-size: cover;
  padding: 30px 0 150px;
}

ul.nav {
  text-align: right;
  margin-top: 20px;
}

ul.nav li {
  display: inline-block;
  font-size: 0.875em;
  margin-left: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.sign {
  padding: 10px 15px;
  background: #42A5F5;
  color: #fff;
  border-radius: 2px;
}

.hero-text {
  margin-top: 150px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

.search-bar form {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}

.select-opt {
  float: left;
  background: #7ED321;
  width: 15%;
}

.select-opt select {
  background: #7ED321;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  padding: 20px 15px;
  height: initial;
  max-height: 60px;
}

.select-opt select:focus {
  outline: none;
}

.form-holder {
  float: left;
  background: #fff;
  padding: 4px;
  padding-left: 0;
  width: 85%;
  max-height: 60px;
}

.form-holder input[type="text"], .form-holder select {
  background: #fff;
  border: none;
  box-shadow: none;
  padding: 16px 10px;
  width: 45%;
  display: inline-block;
  height: initial;
  margin-bottom: 0;
  border-right: 1px solid #ccc;
}

.form-holder select {
  border-right: none;
  padding-left: 20px;
}

.form-holder select:focus {
  outline: none;
}

.form-holder button {
  color: #fff;
  background: #42A5F5;
  border-radius: 2px;
  padding: 14px;
  width: 9%;
  font-size: 1.5em;
}

.color-bar {
  /* Rectangle 103 Copy: */
  background: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(135deg, #30CCFF 0%, #2A8BE2 29%, #4020EB 59%, #93218A 100%);
  padding: 10px 0;
  text-align: center;
}

.color-bar a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.875em;
  border: 1px solid transparent;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  transition: linear 300ms all;
}

.color-bar a:hover {
  /* ACTIVE: */
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.jobs-list, .job-info-sect {
  padding: 40px 0;
  background: #f5f5f5;
}

.job-box, .job-details {
  /* job card: */
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

.logo-holder {
  /* Rectangle 112: */
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  padding: 10px;
  max-width: 90px;
  float: left;
  max-height: 90px;
  width: 10%;
}

.logo-holder img {
  max-width: 100%;
}

.job-info {
  float: left;
  width: 75%;
  margin-left: 20px;
}

.job-info a {
  display: block;
}

.job-info a.job-title, .job-info a.comp-name {
  font-size: 1em;
  color: #757575;
  font-weight: 600;
  margin-bottom: 2px;
}

.job-info a.comp-name {
  color: #42A5F5;
  font-weight: 400;
}

.job-info .salary {
  color: #757575;
  margin-bottom: 0;
}

.job-info .location {
  color: #9e9e9e;
}

.date {
  float: right;
  color: #9e9e9e;
  font-size: 0.875em;
}

.social-apply {
  clear: both;
  text-align: right;
  float: right;
  margin-top: -29px;
}

.social-apply a {
  margin-left: 20px;
}

.social-apply a:first-child {
  margin-left: 0;
}

.get-alert {
  /* Mask: */
  background: #FFFFFF;
  border: 1px solid rgba(151, 151, 151, 0.15);
  border-radius: 2px;
  padding: 50px 20px 20px;
  margin-bottom: 20px;
}

.env-mask {
  background: url(../img/env-mask.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #757575;
  font-size: 0.875em;
  padding: 20px;
}

.env-mask .main {
  font-size: 1.125em;
  margin-bottom: 5px;
  font-weight: 600;
}

.env-mask .orange-btn {
  margin-top: 20px;
  text-transform: uppercase;
}

.env-mask img {
  margin-top: -50px;
  margin-bottom: 30px;
}

.image-holder {
  text-align: center;
}

.filter {
  width: 100%;
  margin-bottom: 20px;
}

.filter h4 {
  color: #757575;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.filter h4 i {
  margin-right: 10px;
}

.filter label {
  display: block;
  font-weight: 600;
  color: #666;
}

.filter-section {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.filter-section p {
  font-size: 1em;
  color: #757575;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-section p span {
  float: right;
  font-size: 0.875em;
}

.filter-section input[type="checkbox"] {
  margin-bottom: 3px;
}

.main-filter {
  display: none;
}

.active-filter {
  color: #42A5F5 !important;
}

.top-companies {
  background: #FFFFFF;
  border: 1px solid rgba(151, 151, 151, 0.15);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
}

.top-companies h4 {
  color: #424242;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
}

.top-companies a {
  color: #42A5F5;
  font-size: 0.875em;
}

.search-number {
  color: #757575;
  margin-bottom: 10px;
}

.search-number a {
  text-decoration: underline;
  color: #757575;
}

.details-bg {
  background: #fff !important;
  padding: 30px 0 0;
}

.details-bg .search-bar {
  /* Rectangle 103 Copy: */
  background: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(135deg, #30CCFF 0%, #2A8BE2 29%, #4020EB 59%, #93218A 100%);
  padding: 30px 0;
  margin-top: 30px;
}

.company-info {
  padding: 40px 0;
}

.company-info .job-box, .company-info .job-details {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.company-info .job-box .job-title, .company-info .job-details .job-title, .company-info .job-box .comp-name, .company-info .job-details .comp-name, .company-info .job-box .salary, .company-info .job-details .salary, .company-info .job-box .location, .company-info .job-details .location {
  font-size: 1.2em;
}

.company-info .job-box .salary, .company-info .job-details .salary {
  font-weight: 600;
}

.company-info .share {
  text-align: right;
}

.company-info .share p {
  margin-bottom: 15px;
  color: #9e9e9e;
}

.company-info .share-links {
  margin: 10px 0;
}

.company-info .share-links i {
  font-size: 1.5em;
  margin-left: 20px;
}

.company-info a.view-more-jobs {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
}

.job-info-sect {
  padding: 20px 0;
}

.job-info-sect a {
  margin-bottom: 20px;
}

.job-details p {
  margin-bottom: 10px;
  color: #757575;
}

.job-details .details-apply-btn {
  margin-top: 40px;
}

.signup {
  /* Rectangle 1: */
  background-image: linear-gradient(135deg, #039BE4 0%, #63C74C 100%);
  padding: 100px 0;
}

.signup p {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.25em;
  font-weight: 600;
}

.signup img {
  margin-bottom: 30px;
}

.signup form {
  background: #fff;
  border-radius: 3px;
  padding: 30px;
}

.signup form label {
  color: #757575;
  margin-bottom: 5px;
}

.signup form input {
  padding: 10px;
  border-radius: 2px;
  width: 100%;
}

.signup form input[type="submit"] {
  margin-top: 20px;
}

.job-apply {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;
}

.job-apply .field {
  margin-bottom: 30px;
}

.job-apply .field label {
  margin-bottom: 10px;
  color: #666;
}

.job-apply [type="submit"] {
  border-radius: 3px;
}

.apply-success-modal {
  border-radius: 3px;
  padding: 60px 40px;
}

.apply-success-modal img {
  margin-bottom: 30px;
}

.apply-success-modal p {
  color: #666;
  margin-bottom: 5px;
}

.apply-success-modal .lead {
  color: #42A5F5;
  margin-bottom: 15px;
  font-weight: 600;
}

.apply-success-modal .btn {
  margin-top: 20px;
}

.file {
  position: relative;
  display: block;
  height: 44px;
  margin-bottom: 30px;
  margin-top: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.file input {
  position: absolute;
  right: 0;
  width: 100%;
  height: 34px;
  opacity: 0;
  color: #fff;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 30;
}

.file .value {
  position: absolute;
  top: 3px;
  left: 117px;
  color: #444;
  z-index: 10;
}

.file .bt-value {
  position: absolute;
  top: 6px;
  left: 0px;
  color: #fff !important;
  text-transform: none !important;
  z-index: 10;
}

.file .btn {
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.875em;
}

.torq-btn, .pink-btn {
  border-radius: 2px;
  background-color: #4B3783;
  color: #fff;
  font-family: "ChaletLondonNineteenSixty", sans-serif;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 1em;
  display: inline-block;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  ul.nav {
    display: none;
  }
  .menu-btn {
    display: inline-block;
  }
  .select-opt {
    width: 19%;
  }
  .form-holder {
    width: 81%;
  }
  .form-holder input[type="text"] {
    width: 56%;
  }
  .form-holder select {
    width: 30%;
  }
  .form-holder button {
    width: 12%;
    float: right;
  }
  .color-bar {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .company-info {
    padding: 20px 0;
  }
  .company-info .share {
    margin-left: 20px;
  }
  .company-info .share p {
    display: none;
  }
  .company-info .share-links {
    margin: 0;
  }
  .company-info .share-links i {
    margin-left: 0;
    margin-right: 20px;
  }
  .company-info a.view-more-jobs {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 15px 0;
  }
  .job-box, .job-details {
    padding: 15px;
  }
  .logo-holder {
    padding: 6px;
    width: 40px;
  }
  .job-info {
    width: 80%;
    margin-left: 15px;
  }
  .date {
    display: none;
  }
  .social-apply {
    position: relative;
    float: left;
    margin-left: 55px;
    margin-top: 10px;
  }
  .color-bar a {
    font-size: 0.75em;
    padding: 5px 10px;
  }
  .hero-text {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .hero-text h2 {
    font-size: 1.5em;
  }
  .select-opt {
    width: 100%;
  }
  .form-holder {
    width: 100%;
    height: inherit;
    max-height: inherit;
    padding: 0;
  }
  .form-holder input[type="text"], .form-holder select {
    width: 100%;
    padding: 20px 10px;
    height: inherit;
  }
  .form-holder input[type="text"] {
    border-bottom: 1px solid rgba(204, 204, 204, 0.71);
  }
  .form-holder select {
    border-left: none;
  }
  .form-holder button {
    border-radius: 0px;
    padding: 15px;
    width: 100%;
    font-size: 1.5em;
  }
  .details-bg {
    padding-bottom: 0;
  }
  .details-bg .search-bar {
    margin-top: 15px;
  }
}
