// Typography.scss
@import 'mixins';

.btn {
	border-radius: 2px;
	padding: 5px 15px;
	display: inline-block;
	font-size: em(14);

	&:hover {
		color: #fff;
	}
}

.dark-grey-btn {
	background: #7C7C7C;
	color: #fff;
}

.blue-btn {
	background: $light-blue;
	color: #fff;
}

.orange-btn {
	background: #FB8C00;
	color: #fff;
}

.medium {
	padding: 10px 20px;
	font-size: em(16);
}

.large {
	padding: 15px 30px;
	font-size: em(16);
}