// form.scss

@import 'mixins';

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	font-family: $sans;
	border: 1px solid #ccc;
	box-shadow: none;
	font-size: 14px;
	height: inherit !important;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

[type='submit'] {
	border: none;
	font-weight: 600;
}


.job-apply {
	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
		padding: 13px;
		border-radius: 3px;
	}
}

select {
	background: url(../img/caret-down.svg) no-repeat !important;
    background-position: 90% center !important;
}