ul, ol {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}