@import 'typography';
@import 'buttons';
@import 'form';
@import 'mixins';
@import 'general';

body {
	font-family: $sans;
}

p {
	margin-bottom: 0;
}

.green { background: $green !important;}
.blue { background: $light-blue !important;}
.orange { background: #FE9533 !important; }

.menu-btn {
	display: none;
	text-align: right;
	cursor: pointer;
	font-weight: 600;
	float: right;
}

.pushy {
	background: $light-blue;

	li {
		border-bottom: 1px solid #fff;

		a {
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			font-size: em(14);
		}
	}
}

.header {
	background: url(../img/hero-bg.png);
	background-position: center center;
	background-size: cover;
	padding: 30px 0 150px;
}

ul.nav {
	text-align: right;
	margin-top: 20px;

	li {
		display: inline-block;
		font-size: em(14);
		margin-left: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.sign {
	padding: 10px 15px;
	background: $light-blue;
	color: #fff;
	border-radius: 2px;
}

.hero-text {
	margin-top: 150px;
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.55);
}


.search-bar  form {
	    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}

.select-opt {
	float: left;
	background: $green;
	width: 15%;

	select {
		background: $green;
		border: none;
		border-radius: 0;
		margin-bottom: 0;
		color: #fff;
		font-size: em(18);
		font-weight: 600;
		line-height: 20px;
		text-align: center;
		padding: 20px 15px;
		height: initial;
		max-height: 60px;

		&:focus {
			outline: none;
		}
	}
}

.form-holder {
	float: left;
	background: #fff;
	padding: 4px;
	padding-left: 0;
	width: 85%;
	max-height: 60px;

	input[type="text"], select {
		background: #fff;
		border: none; 
		box-shadow: none;
		padding: 16px 10px ;
		width: 45%;
		display: inline-block;
		height: initial;
		margin-bottom: 0;
		border-right: 1px solid #ccc;
	}

	select {
		border-right: none;
		padding-left: 20px;

		&:focus {
			outline: none;
		}
	}

	button {
		color: #fff;
	    background: #42A5F5;
	    border-radius: 2px;
	    padding: 14px;
	    width: 9%;
	    font-size: em(24);

	}
}

.color-bar {
	/* Rectangle 103 Copy: */
	background: rgba(255,255,255,0.10);
	background-image: linear-gradient(135deg, #30CCFF 0%, #2A8BE2 29%, #4020EB 59%, #93218A 100%);
	
	padding: 10px 0;
	text-align: center;

	a {
		display: inline-block;
		text-transform: uppercase;
		font-size: em(14);
		border: 1px solid transparent;
		text-align: center;
		color: #fff;
		padding: 10px 15px;
		transition: linear 300ms all;

		&:hover {
			/* ACTIVE: */
			background: rgba(255,255,255,0.15);
			border: 1px solid #FFFFFF;
			border-radius: 4px;
		}
	}
}

.jobs-list, .job-info-sect {
	padding: 40px 0;
	background: #f5f5f5;
}

.job-box {
	/* job card: */
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}

.logo-holder {
	/* Rectangle 112: */
	background: #F5F5F5;
	border: 1px solid #EEEEEE;
	border-radius: 2px;
	padding: 10px;
	max-width: 90px;
	float: left;
	max-height: 90px;
	width:10%;

	img {
		max-width: 100%;
	}
}

.job-info {
	float:left;
	width: 75%;
	margin-left: 20px;

	a {
		display: block;

		&.job-title, &.comp-name {
			font-size: em(16);
			color: #757575;
			font-weight: 600;
			margin-bottom: 2px;
		}

		&.comp-name {
			color: $light-blue;
			font-weight: 400;
		}
	}

	.salary {
		color: #757575;
		margin-bottom: 0;
	}

	.location {
		color: #9e9e9e;
	}
}


.date {
	float: right;
	color: #9e9e9e;
	font-size: em(14);
}

.social-apply {
	clear: both;
    text-align: right;
    float: right;
    margin-top: -29px;

	a {
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
}


.get-alert {
	/* Mask: */
	background: #FFFFFF;
	border: 1px solid rgba(151,151,151,0.15);
	border-radius: 2px;
	padding: 50px 20px 20px;
	margin-bottom: 20px;
}

.env-mask {
	background: url(../img/env-mask.png) no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #757575;
	font-size: em(14);
	padding: 20px;

	.main {
		font-size: em(18);
		margin-bottom: 5px;
		font-weight: 600;
	}

	.orange-btn {
		margin-top: 20px;
		text-transform: uppercase;
	}

	img {
		margin-top: -50px;
		margin-bottom: 30px;
	}
}

.image-holder {
	text-align: center;
}

.filter {
	width: 100%;
	margin-bottom: 20px;

	h4 {
		color: #757575;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 0;

		i {
			margin-right: 10px;
		}
	}

	label {
		display: block;
		font-weight: 600;
		color: #666;
	}
}

.filter-section {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;

	p {
		font-size: em(16);
		color: #757575;
		margin-bottom: 5px;
		cursor: pointer;

		span {
			float: right;
			font-size: em(14);
		}
	}

	input[type="checkbox"] {
		margin-bottom: 3px;
	}
}

.main-filter {
	display: none;
}

.active-filter {
	color: #42A5F5 !important;
}




.top-companies {

	h4 {
		color: #424242;
		margin: 0;
		margin-bottom: 5px;
		font-weight: 400;
	}

	background: #FFFFFF;
	border: 1px solid rgba(151,151,151,0.15);
	border-radius: 2px;
	padding: 20px;
	margin-bottom: 20px;

	a {
		color: $light-blue;
		font-size: em(14);
	}
}

.search-number {
	color: #757575;
	margin-bottom: 10px;

	a {
		text-decoration: underline;
		color: #757575;
	}
}




.details-bg {
	background: #fff !important;
	padding: 30px 0 0;

	.search-bar {
		/* Rectangle 103 Copy: */
		background: rgba(255,255,255,0.10);
		background-image: linear-gradient(135deg, #30CCFF 0%, #2A8BE2 29%, #4020EB 59%, #93218A 100%);
		padding: 30px 0;
		margin-top: 30px;
	}
}

.company-info {
	padding: 40px 0;

	.job-box {
		border: none;
		margin-bottom: 0;
		padding: 0;

		.job-title, .comp-name, .salary, .location {
			font-size: 1.2em;
		}

		.salary {
			font-weight: 600;
		}
	}

	.share {
		text-align: right;

		p {
			margin-bottom: 15px;
			color: #9e9e9e;
		}
	}

	.share-links {
		margin: 10px 0;

		i {
			font-size: em(24);
			margin-left: 20px;
		}
	}

	a.view-more-jobs {
		display: inline-block;
		margin-top: 20px;
		text-decoration: underline;
	}
}

.job-info-sect {
	padding: 20px 0;

	a {
		margin-bottom: 20px;
	}
}

.job-details {
	@extend .job-box;

	p {
		margin-bottom: 10px;
		color: #757575;
	}

	.details-apply-btn {
		margin-top: 40px;
	}
}





.signup {
	/* Rectangle 1: */
	background-image: linear-gradient(135deg, #039BE4 0%, #63C74C 100%);
	padding: 100px 0;

	p {
		color: #fff;
		margin-bottom: 30px;
		font-size: em(20);
		font-weight: 600;
	}

	img {
		margin-bottom: 30px;
	}

	form {
		background: #fff;
		border-radius: 3px;
		padding: 30px;

		label {
			color: #757575;
			margin-bottom: 5px;
		}

		input {
			padding: 10px;
			border-radius: 2px;
			width: 100%;

			&[type="submit"] {
				margin-top: 20px;
			}

		}
	}
}


.job-apply {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	padding: 30px;
	position: relative;
	margin-bottom: 20px;

	.field {
		margin-bottom: 30px;

		label {
			margin-bottom: 10px;
			color: #666;
		}
	}

	[type="submit"] {
		border-radius: 3px;
	}
}


.apply-success-modal {
	border-radius: 3px;
	padding: 60px 40px;

	img {
		margin-bottom: 30px;
	}

	p {
		color: #666;
		margin-bottom: 5px;
	}

	.lead {
		color: $light-blue;
		margin-bottom: 15px;
		font-weight: 600;
	}

	.btn {
		margin-top: 20px;
	}

}



.file {
    position: relative;
    display: block;
    height: 44px;
    margin-bottom: 30px;
    margin-top: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.file input {
    position: absolute;
    right: 0;
    width: 100%;
    height: 34px;
    opacity: 0;
    color: #fff;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 30;
}

.file .value {
    position: absolute;
    top: 3px;
    left: 117px;
    color: #444;
    z-index: 10;
}

.file .bt-value {
    position: absolute;
    top: 6px;
    left: 0px;
    color: #fff !important;
    text-transform: none !important;
    z-index: 10;
}

.file .btn {
    padding: 5px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.875em;
}

.torq-btn, .pink-btn {
    border-radius: 2px;
    background-color: #4B3783;
    color: #fff;
    font-family: "ChaletLondonNineteenSixty", sans-serif;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    font-weight: 500;
}

































// MEDIAQUERIES

@media screen and (max-width: 768px) {
	ul.nav {
		display: none;
	}

	.menu-btn {
		display: inline-block;
	}

	.select-opt {
	    width: 19%;
	}

	.form-holder {
    	width: 81%;
    }

    .form-holder {

    	input[type="text"] {
    		width: 56%;
    	}

    	select {
		    width: 30%;
		}

		button {
		    width: 12%;
		    float: right;
		}
    }

    .color-bar {
    	display: none;
    }
}

@media screen and (max-width: 640px) {
	.company-info {
		padding: 20px 0;

		.share {
			margin-left: 20px;
			p {
				display: none;
			}
		}

		.share-links {
			margin: 0;
			i {
				margin-left: 0;
				margin-right: 20px;
			}
		}

		a.view-more-jobs {
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 480px) {

	.header {
		padding: 15px 0;
	}

	.job-box {
		padding: 15px;
	}

	.logo-holder {
		padding: 6px;
		width: 40px;
	}

	.job-info {
		width: 80%;
		margin-left: 15px;
	}

	.date {
		display: none;
	}

	.social-apply {
	    position: relative;
	    float: left;
	    margin-left: 55px;
	    margin-top: 10px;
	}

	.color-bar a {
	    font-size: em(12);
	    padding: 5px 10px;
	}

	.hero-text {
		margin-top: 70px;
		margin-bottom: 30px;

		h2 {
			font-size: 1.5em;
		}
	}

	.select-opt {
	    width: 100%;
	}

	.form-holder {
	    width: 100%;
	    height: inherit;
	    max-height: inherit;
	    padding: 0;

	    input[type="text"], select {
	    	width: 100%;
	    	padding: 20px 10px;
	    	height: inherit;
	    }

	    input[type="text"] {
	    	border-bottom: 1px solid rgba(204, 204, 204, 0.71);
	    }

	    select {
	    	border-left: none;
	    }

	    button {
		    border-radius: 0px;
		    padding: 15px;
		    width: 100%;
		    font-size: 1.5em;
	    }
	}

	.details-bg {
		padding-bottom: 0;

		.search-bar {
    		margin-top: 15px;
    	}
    }

}














